basePath: /
definitions:
  domain.PriceSnapshot:
    properties:
      change_24h_pct:
        type: number
      last_updated_unix:
        type: integer
      price_usd:
        type: number
      symbol:
        type: string
      volume_24h:
        type: number
    type: object
host: adad.reubenpeterpaul.com
info:
  contact: {}
  description: A Go service with OpenTelemetry tracing.
  title: Bug Free Umbrella API
  version: "1.0"
paths:
  /api/candles/{symbol}:
    get:
      description: Returns historical candle data for a given asset and interval
      parameters:
      - description: Asset symbol (e.g., BTC, ETH)
        in: path
        name: symbol
        required: true
        type: string
      - default: 1h
        description: Candle interval (5m, 15m, 1h, 4h, 1d)
        in: query
        name: interval
        type: string
      - default: 100
        description: Number of candles (default 100, max 500)
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get historical OHLCV candles
      tags:
      - prices
  /api/market-intel/run:
    post:
      description: Runs one Phase 7 market-intel cycle and returns ingest/score/composite
        counters
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
        "503":
          description: Service Unavailable
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Trigger fundamentals and sentiment ingestion/scoring manually
      tags:
      - market-intel
  /api/ml/train:
    post:
      description: Runs an immediate ML training cycle and returns model training
        outcomes
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
        "503":
          description: Service Unavailable
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Trigger ML model training manually
      tags:
      - ml
  /api/prices:
    get:
      description: Returns latest cached prices for all 10 tracked cryptocurrencies
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get current prices for all supported assets
      tags:
      - prices
  /api/prices/{symbol}:
    get:
      description: Returns the latest cached price, 24h volume, and 24h change
      parameters:
      - description: Asset symbol (e.g., BTC, ETH)
        in: path
        name: symbol
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.PriceSnapshot'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get current price for a crypto asset
      tags:
      - prices
  /api/signals:
    get:
      description: Returns recent signals, optionally filtered by symbol/risk/indicator
      parameters:
      - description: Asset symbol (e.g., BTC, ETH)
        in: query
        name: symbol
        type: string
      - description: Risk level (1-5)
        in: query
        name: risk
        type: integer
      - description: Indicator key (rsi, macd, bollinger, volume_zscore, ml_logreg_up4h,
          ml_xgboost_up4h, ml_ensemble_up4h, fund_sentiment_composite)
        in: query
        name: indicator
        type: string
      - default: 50
        description: Number of signals (default 50, max 200)
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "503":
          description: Service Unavailable
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get generated trading signals
      tags:
      - signals
  /api/signals/{id}/image:
    get:
      description: Returns the rendered PNG chart image for a signal id
      parameters:
      - description: Signal ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - image/png
      responses:
        "200":
          description: OK
          schema:
            type: file
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
        "503":
          description: Service Unavailable
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get signal chart image
      tags:
      - signals
  /health:
    get:
      description: Returns the health status of the service
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health check
      tags:
      - health
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
swagger: "2.0"
